* {
    box-sizing: border-box;
}

#page-wrap {
    width: 960px;
    margin: 0 auto;
}

/* Basic shit tune this*/
body {
    color: #777777;
    line-height: 2;
    text-align: left;
    background-image: url("../images/gravel.png");
    font-family: 'Oxygen', sans-serif;
}


.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:50px;
    color: #a2aeb9;
    text-align: center;
    background-color: white;
    border-bottom: #4daba6;

}

.header2 {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: #4daba6;
    height:50px;
    width:300px;
    float:left;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 25px;
}

nav {
    float:right;
    padding:5px;
}

.me {
    float:left;
    margin: 20px;
}

a {
    color:#a2aeb9;
}

.main {
    margin-top:75px;
    float: left;
    width:100%;
    background-color:white;
    border:100px;
    line-height: 32px;
    padding:10px;
}

#biography {
    height:100%;
    width:960px;
    float:left;
}

h1 {
    color:#4daba6;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    font-size: 26px;
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:75px;
    color: #a2aeb9;
    text-align: center;
    background-color: #666666;
    border-top: #4daba6;
    border-top-style: solid;
    border-top-width: 5px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4daba6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.portfbox {
    
    display: inline-block;
    width: 250px;
}

.portfbox:nth-child(even) {
margin-right: 300px;
}

.portfboxname {
    float: left;
    position: relative;
    top:-80px;
    width:100%;
    height: 30px;
    text-align: center;
    background-color: #4daba6;
    padding: 1px;
    color: white;
}

h2 {

}